      <h1>Note App</h1><br>
    <h4 style="display: inline-block;">Click To Load Scraped Data From Reddit...</h4> <br>
             <button id="view">View</button><br><br>
           <div class="loader"></div> 


    

      <br>
        <div class="row">
        <h3>Articles</h3> 
      
      <textarea id="note" placeholder="Add a note..."></textarea>
      <span id="results">{{data}}</span>
      <textarea placeholder="Delete..." id="note"></textarea>
      
      <div id="buttons">
        
        <!-- <div id="actionbutton"> -->
          
          <!-- <button id="scrape">Scrape</button> -->

          <button id="submit">Save Note</button>
                    <button id="next">Next Article</button>
        
        <!-- </div> -->
        
        <button id="clearall">Delete All Notes</button>
      </div>
    </div>
  </div>
    
    


   